/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: #770909;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover,
nav a.active {
    color: #00bcd4;
}

/* Main Content */
main {
    padding: 40px;
    text-align: center;
}

/* Form */
form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #00bcd4;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}